<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Фото в Telegram</title>
  <style>
    body { font-family: sans-serif; text-align: center; margin: 0; padding: 1em; }
    video { width: 100%; max-width: 400px; }
    button { padding: 10px 20px; font-size: 18px; margin-top: 10px; }
  </style>
</head>
<body>
  <h1>Сделать фото</h1>
  <video id="video" autoplay playsinline></video><br>
  <button id="snap">Сделать фото</button>
  <canvas id="canvas" style="display:none;"></canvas>

  <script src="/static/script.js"></script>
</body>
</html>
